* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global */

.global-container {
    position: relative;
    width: 100%;
    font-family: 'Muli', sans-serif;
}

.home-container {
    height: 100vh;
}

.container {
    text-align: center;
}


/* header */
header .container {
    background: aqua;
    display: grid;
    grid-template-columns: 50% 50%;
}

header .logo {
    padding-top: 10px;
    text-align: left;
    margin-left: 65px;
}

header img {
    width: 50px;
}

header {
    color: black;
}

header ul {
    padding-top: 5px;
    list-style: none;
    display: flex;
    float: right;
    line-height: auto;
    margin-top: -10px;
}

header li {
    padding-top: 10px;
    line-height: 50px;
    transition: .3s ease;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

header li:hover {
    background: gray;
}

header a:hover {
    color: white;
}

.contacts {
    margin-right: 40px;
}

/* icon-bar */

.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(179, 245, 236);
}

.icon-bar i {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon-bar i:hover {
    background-color: black;
}

.icon-bar .fa-medium-m {
    background: darkslategray;
}

.icon-bar .fa-twitter {
    background: cornflowerblue;
}

.icon-bar .fa-linkedin {
    background: darkcyan;
}

.icon-bar .fa-github {
    background: purple;
}

.icon-bar .fa-youtube {
    background: rgb(199, 0, 0);
}

/* flipcards */

/*making the cards flip*/
.flip {
    position: relative;
}

.flip > .front, .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}

.flip > .front {
    transform: rotateY(0deg);
}

.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}

.flip:hover > .front {
    transform: rotateY(180deg);
}

.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}

/*customizing flip-cards*/
.cards .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;

}

.flip {
    position: relative;
    display: inline-block;

    margin-bottom: 1em;
    width: 300px;
}

.flip > .front, .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 400px;
    background: #313131;
    border-radius: 10px;
}

.flip > .front h1 {
    font-size: 1.9em;
    padding-top: 5px;
}

.flip > .back h2 {
    font-size: 1.7em;
    padding-top: 5px;
}

.flip > .back p {
    padding-right: 5px;
    padding-left: 5px;
}

.flip > .front p, .flip > .back p {
    font-size: 1.3em;
    line-height: 160%;
    color: white;
}

/* scroll down buttons */
.projectsButton {
    text-align: center;
    margin-top: 2%;
    font-size: 70px;
    margin-left: 20%;
    margin-right: 20%;
    border-right: 3px solid purple;
    border-left: 3px solid purple;
    transition: 0.2s ease;
}

.projectsButton:hover {
    background: rgba(128, 0, 128, 0.1);
}


.projectsButton i {
    margin-top: 30px;
    font-size: 100px;
}

/* projects */
#project1 .container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: lightgreen;
}

#project2 .container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: lightsalmon;
}

#project3 .container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: lightskyblue;
}

.project .container {
    padding-top: 70px;
}

.project .fa-arrow-down, .project .fa-arrow-right {
    margin-top: 10px;
    font-size: 100px;
    width: 100px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.project .fa-arrow-down:hover, .project .fa-arrow-right:hover {
    margin-top: 10px;
    font-size: 100px;
    color: rgba(128, 0, 128, .5);
}

.project .container h1 {
    font-size: 70px;
    padding-bottom: 30px;
}

.project .container img {
    margin-bottom: 20px;
    width: 500px;
    border-radius: 10px;
}

.project .container p {
    font-size: 20px;
    margin-bottom: 20px;
}

.project .container h2 {
    font-size: 50px;
}