* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global */

.container {
    font-family: 'Muli', sans-serif;
}

.global-container {
    position: relative;
    width: 100%;
    font-family: 'Muli', sans-serif;
}



.home-container, #project1, #project2 {
    height: 100vh;
}

.container {
    text-align: center;
}

.background-container {
    background-image: url('./img/water1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */
header .container {
    display: grid;
    grid-template-columns: 50% 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

header .logo {
    padding-top: 10px;
    text-align: left;
    margin-left: 65px;
}

header img {
    width: 50px;
}

header {
    color: white;
}

header ul {
    padding-top: 5px;
    list-style: none;
    display: flex;
    float: right;
    line-height: auto;
    margin-top: -10px;
}

header li {
    padding-top: 10px;
    line-height: 50px;
    transition: .3s ease;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

header li:hover {
    background: gray;
}

header .about {
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
}

header a:hover {
    color: white;
}

.contacts {
    margin-right: 40px;
}

/* icon-bar */

.contacts-container .icon-bar {
    top: 70%;
}

.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.icon-bar i {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon-bar i:hover {
    background-color: black;
}

.icon-bar .fa-medium-m {
    background: darkslategray;
}

.icon-bar .fa-twitter {
    background: cornflowerblue;
}

.icon-bar .fa-linkedin {
    background: darkcyan;
}

.icon-bar .fa-github {
    background: purple;
}

.icon-bar .fa-youtube {
    background: rgb(199, 0, 0);
}

.icon-bar .fa-codepen {
    background: rgb(62, 124, 160);
}

/* flipcards */

/*making the cards flip*/
.flip {
    position: relative;
}

.flip > .front, .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}

.flip > .front {
    transform: rotateY(0deg);
}

.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}

.flip:hover > .front {
    transform: rotateY(180deg);
}

.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}

/*customizing flip-cards*/
.cards .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.flip {
    position: relative;
    display: inline-block;

    margin-bottom: 1em;
    width: 300px;
}

.flip > .front, .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 400px;
    background: #313131;
    border-radius: 10px;
}

.flip > .front h1 {
    font-size: 1.9em;
    padding-top: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.flip > .back h2 {
    font-size: 1.7em;
    padding-top: 5px;
    text-decoration: underline;
}


.flip > .front p, .flip > .back p {
    font-size: 1.3em;
    line-height: 160%;
    color: white;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.flip-button {
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease;
    border: none;
}

.flip-button:hover {
    background: white;
}

.flip-button:active {
    background: gray;
}


.flip ul {
    margin-top: 20px;
    font-size: 20px;
    list-style: none;
    padding-left: 1.5px;
    padding-right: 1.5px;
}

.flip li {
    margin-bottom: 15px;
    font-size: 22px;
}

.flip1 .text {
    background: rgba(0, 0, 0, 0.5);
}

.flip1 .front {
    background-image: url('./img/stickman5.jpg');
}

.flip2 .front {
    background-image: url('./img/small_austin.jpg');
}

.flip3 .front {
    background-image: url('./img/theJourney.jpg');
}



/* scroll down buttons */
.projectsButton {
    text-align: center;
    margin-top: 2%;
    font-size: 70px;
    margin-left: 20%;
    margin-right: 20%;
    border-right: 3px solid purple;
    border-left: 3px solid purple;
    transition: 0.2s ease;
}

.projectsButton:hover {
    background: rgba(128, 0, 128, 0.1);
}


.projectsButton i {
    margin-top: 30px;
    font-size: 100px;
    color: black;
}

.projectsButton h1 {
    color: black;
}

/* projects */
#project1 .container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(245, 222, 179, 0.5);
}

#project2 .container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(123, 196, 224, 0.5);;
}

#project3 .container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(245, 222, 179, 0.5);
}

.project .container {
    padding-top: 70px;
}

.project .fa-arrow-down, .project .fa-arrow-right {
    margin-top: 10px;
    font-size: 100px;
    width: 100px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.project .fa-arrow-down:hover, .project .fa-arrow-right:hover {
    margin-top: 10px;
    font-size: 100px;
    color: rgba(128, 0, 128, .5);
    cursor: pointer;
}

.project .container h1 {
    font-size: 70px;
    padding-bottom: 30px;
}

.project .container img {
    margin-bottom: 20px;
    width: 500px;
    border-radius: 10px;
}

.project .container p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.project .container h2 {
    font-size: 50px;
}

.project .button {
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(167, 220, 255);
    transition: 0.2s ease;
    outline: none;
}

#project2 .button {
    background: wheat;
}

#project2 .button:hover {
    background: white;
}

.project .button:hover {
    background: rgb(255, 238, 241);
}

.project .button1 {
    border-radius: 0 40px 0 40px;
}

.project .button2 {

    border-radius: 40px 0 40px 0;
}





/*-------------------------------- ABOUT PAGE ----------------------------- */

.about-container {
    background-image: url('./img/lighthouse.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas: "bio  bio ..."
                        "... tools tools"
                        "education education ...";
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.about-container section {
    margin-bottom: 40px;
}

.about-container h3 {
    font-size: 2.5em;
}

.about-container .bio {
    text-align: center;
    background: rgba(245, 222, 179, 0.7);
    grid-area: bio;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 40px;
}

.bio-container p {
    font-size: 1.7em;
    line-height: 35px;
    padding-left: 3%;
    padding-right: 3%;
}

.bio-container .bio-paras {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2%;
}

.bio-paras .border-para {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.about-container .tools {
    background: rgba(255, 192, 203, 0.7);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-area: tools;
}

.tools-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tools .skills {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.tools ul {
    list-style: none;
}

.tools li {
    font-size: 1.7em;
    line-height: 1.7em;
}

.tools h5 {
    font-size: 2em;
}
.about-container .education {
    background: rgba(144, 238, 144, 0.7);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1.5%;
    padding-right: 3%;
    grid-area: education;
    text-align: center;
}

.education-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.education .certifications {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.education li {
    font-size: 1.7em;
    list-style: none;
    padding-bottom: 1.4em;
    padding-top: 0.3em;
    padding-left: 3%;
    padding-right: 3%;
}

.education h4 {
    font-size: 2em;
    padding-top: 0.3em;
}

.education h5 {
    font-size: 1.2em;
}

.education p {
    font-size: 1.3em;
}




/* ------------------------Contacts.html------------------------------------ */

.all-contacts {
    text-align: center;
}

.contacts-container {
    font-family: 'Muli', sans-serif;
    background-image: url('./img/waves5.jpg');
    min-height: 100vh;
    max-height: 1400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.all-contacts .thanks {
    margin-top: 30px;
}

.all-contacts .phone {
    margin-top: 30px;
}

.thanks h1, .phone h1 {
    font-size: 40px;
}

.all-contacts .contact-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    width: 400px;
    padding-left: 25px;
    padding-right: 25px;
}

.contact-form {
    border-radius: 10px;
    background: rgba(255, 165, 0, 0.5);
    border: none;
}

.contact-form h1 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
    grid-column: 1 / 4;
}

.contact-form input, .contact-form textarea {
    text-align: center;
}

input[type="text"] {
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;
    grid-column: 1 / 4;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

input[type="email"] {
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;
    grid-column: 1 / 4;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

input[type="subject"] {
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;
    grid-column: 1 / 4;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.contact-form textarea {
    height: 100px;
    font-size: 15px;
    padding-top: 2px;
    grid-column: 1 / 4;
    font-family: 'Muli', sans-serif;
}

.contact-form button {
    grid-column: 2 / 3;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

.phone a {
    color: white;
    text-decoration: none;
}

.contacts .all-contacts .contacts-top {
    background: rgba(255, 165, 0, 0.5);
    margin-left: 40px;
    padding-top: 1px;
    padding-bottom: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}












@media (max-width: 1400px) {
    /*------------------------ Home Page ------------------------------------------*/
  
  /* flip cards */
    .flip {
        width: 250px;
    }
    
    .flip > .front, .flip > .back {
        height: 333px;
    }

    .flip > .back h2 {
        font-size: 1.5em;
    }
    
    .flip > .front p, .flip > .back p {
        font-size: 1.07em;
        margin-top: 10px;
    }
    
    .flip-button {
        margin-top: 10px;
    }
    
    .flip ul {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .flip li {
        margin-bottom: 15px;
        font-size: 20px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .flip .front h1 {
        font-size: 26px;
    }

    .projectsButton h1, .projectsButton .fa-arrow-down {
        font-size: 60px;
        margin-top: -10px;
    }

    /* icon bar */   
    .icon-bar {
        top: 60%;
    }

    /* projects */

    .project .container {
        padding-top: 20px;
    }
    
    .project .fa-arrow-down, .project .fa-arrow-right {
        margin-top: 10px;
        font-size: 60px;
    }
    
    .project .fa-arrow-down:hover, .project .fa-arrow-right:hover {
        margin-top: 10px;
        font-size: 70px;
    }
    
    .project .container h1 {
        font-size: 40px;
        padding-bottom: 30px;
    }
    
    .project .container img {
        margin-bottom: 15px;
        width: 400px;
    }
    
    .project .container p {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .project .container h2 {
        font-size: 40px;
    }
    

    
    /*-------------------------------- ABOUT PAGE ----------------------------- */

    .about-container section {
        margin-bottom: 40px;
    }
    
    .about-container h3 {
        font-size: 2em;
    }
    
    .bio-container p {
        font-size: 1.4em;
    }
    
    .tools li {
        font-size: 1.4em;
        line-height: 1.7em;
    }
    
    .tools h5 {
        font-size: 2em;
    }
    
    .education li {
        font-size: 1.4em;
    }
    
    .education h4 {
        font-size: 1.5em;
    }
    
    .education h5 {
        font-size: .9em;
    }
    
    .education p {
        font-size: 1em;
    }
    
/*---------------------------- Contacts Page ------------------------*/

    .all-contacts .thanks {
        margin-top: 20px;
    }

    .all-contacts .phone {
        margin-top: 20px;
    }

    .thanks h1, .phone h1 {
        font-size: 25px;
    }

    .all-contacts .contact-form {
        margin-top: 40px;
    }

    .contact-form h1 {
        font-size: 30px;
        padding-bottom: 15px;
    }

    .contact-form textarea {
        height: 80px;
    }
}

@media (max-width: 1200px) {
    /*---------------------- home page -----------------------*/
    /* nav bar */
    header li {
        padding-top: 6px;
        line-height: 40px;
        transition: .3s ease;
        font-size: 22px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    header a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 22px;
    }

    header h1 {
        font-size: 24px;
        margin-top: -3px;
        margin-left: -20px;
    }
    
    header ul {
        margin-right: -20px;
    }
    /* flip cards */
      .flip {
        width: 230px;
    }

    .flip .front h1 {
        font-size: 22px;
    }
    
    .flip > .front, .flip > .back {
        height: 307px;
    }

    .flip > .back h2 {
        font-size: 1.3em;
    }
    
    .flip > .front p, .flip > .back p {
        font-size: 1.04em;
    }
    /* projects */

    .project .container {
        padding-top: 15px;
    }
    
    .project .fa-arrow-down, .project .fa-arrow-right {
        margin-top: 5px;
        font-size: 50px;
    }
    
    .project .fa-arrow-down:hover, .project .fa-arrow-right:hover {
        margin-top: 5px;
        font-size: 60px;
    }
    
    .project .container h1 {
        font-size: 35px;
        padding-bottom: 25px;
    }
    
    .project .container img {
        margin-bottom: 10px;
        width: 400px;
    }
    
    .project .container p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .project .container h2 {
        font-size: 35px;
    }   
}





/* -------------- ***** Ipad Section Only ****** ------- */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    .background-container {
        background-image: url('./img/waves7.jpg');
    }
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    .background-container {
        background-image: url('./img/waves.jpg');

    }
}